<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1><%= "The date is #{Date.today.strftime("%A, %m %d, %y")} " , November 18, 2015 %></h1>
    </body>
</html>